.question-details
  max-width: 800px
  margin: 20px auto 0
  padding: 0 20px

  h1
    margin-top: 20px

  .question-title
    font-size: larger
    font-weight: bold
    margin: 20px auto

  .no-answers-notice
    text-align: center
    color: #d1ad0e

  article
    background: white
    border: solid 1px green
    border-radius: 5px
    margin-bottom: 20px
    padding: 20px

    .answer-metadata
      display: flex
      justify-content: flex-end
      font-style: italic
      color: #999999

