.contribution-form
  margin: 50px auto
  form
    margin-top: 20px
    textarea
      width: 100%
      border: solid 1px green
      border-radius: 5px
      font-family: Arial, Helvetica, sans-serif
      font-size: 16px
      padding: 10px
