.like-button-wrapper
  height: 20px
  width: 50px
  margin: 10px 0 0 auto
  color: red
  display: flex
  align-items: center
  align-self: flex-end
  cursor: pointer

  .like-button
    height: 100%
    opacity: 0.3
    margin-right: 5px

    &.filled
      opacity: 1
