*
  margin: 0
  padding: 0
  outline: 0
  box-sizing: border-box

body
  font-family: Arial, Helvetica, sans-serif
  background: #fafafa
  color: #333333

a
  color: green

button, input[type=button], input[type=submit]
  box-shadow:  0px 10px 14px -7px #3e7327
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%)
  background-color: #77b55a
  border-radius: 5px
  border: 1px solid #4b8f29
  display: inline-block
  cursor: pointer
  color: #ffffff
  font-family: Arial
  font-size: 16px
  font-weight: bold
  padding: 14px 30px
  text-decoration: none
  &:disabled
    opacity: .7
    cursor: not-allowed
  &:hover
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%)
    background-color: #72b352
  &:active
    position: relative
    top: 1px

input[type=text]
  height: 20px
  border: solid 1px green;
  line-height: 30px;
  border-radius: 5px;
  padding: 22px 5px;
  font-size: larger;
