.question-list
  max-width: 800px
  margin: 20px auto 0
  padding: 0 20px

  h1
    margin-bottom: 20px
  
  .question-list-header
    display: flex
    justify-content: space-between
    align-items: center

  article
    background: white
    border: solid 1px green
    border-radius: 5px
    margin-top: 20px
    padding: 20px

    .question-metadata
      display: flex
      justify-content: flex-end
      font-style: italic
      color: #999999

    .question
      margin-top: 15px
      font-weight: bold

    p
      margin-top: 10px
      line-height: 24px

@media screen and (max-width: 767px)
  .question-list-header
    flex-wrap: wrap
    *
      margin: 10px auto
